<!doctype html>
{% load staticfiles %}
{% url 'index' as index %}
{% url 'search' as search %}
{% url 'recommend' as recommend %}
{% url 'GameDetails' as insertRecord %}
{% url 'about' as about %}
{% url 'Console' as console  %}
{% url 'Contributor' as contributor  %}
{% url 'Region' as region  %}
{% url 'Studio' as studio  %}
{% url 'Game' as game  %}
{% url 'insertPublisher' as insertPublish%}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>What's Next?</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Menu</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href=" {{ index }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ search }}">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ recommend }}">Recommend</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ about }}">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href=" {{ insertRecord }}">Insert New Record</a>
              <a class="dropdown-item" href=" {{ publisher }}">Publisher</a>
              <a class="dropdown-item" href=" {{ studio }}">Studio</a>
              <a class="dropdown-item" href=" {{ game }}">Game</a>
              <a class="dropdown-item" href="{{ console }}">Console</a>
              <a class="dropdown-item" href="{{ region }}">Region</a>
              <a class="dropdown-item" href="{{ contributor }}">Contributor</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Insert A New Record</h1>
          <p>Follow the steps to inserting a complete new record!</p>
        </div>
      </div>

      <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-12 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Select Publisher</h4>
          </div>
          <div class="card-body">
            <p> {{status ]}/p>
            {% if status.success %}
              <ul>
                <li style="color: green;"> {{ status.success }} </li>
              </ul>
            {% elif status.error %}
              <ul>
                  <li style="color: red;"> {{ status.error }} </li>
              </ul>
            {% endif %}
            <form method = "POST">
              {% csrf_token %}
              {{ form.as_p }}
              {% if status.link %}
                <a href = "{{insertPublish}}"> Would You Like To Insert a Publisher? </a>
              {% endif %}
              <input type="Submit" class="btn btn-lg btn-block btn-outline-primary" value = "Submit">
            </form>
          </div>
        </div>
      </div>
      </div>

      <div class="container">
        <div class="card-deck mb-3 text-center">
         <div class="card mb-12 box-shadow">
          <div class="card-header">
           <h4 class="my-0 font-weight-normal">Completion Status:</h4>
          </div>
          <div class="card-body">
           <img class="card-img-bot" src="{% static 'images/step3.png' %}" alt="Card image cap">
          </div>
         </div>
        <hr>
      </div> <!-- /container -->
    </div>

    </main>
      <div class="container">
        <p><a class="btn btn-secondary" href="insertnew4.html" role="button">Continue</a></p>
        <hr>
      </div> <!-- /container -->
    <footer class="container">
      <p>&copy; Gold Team 2018</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write("<script src='{% static 'js/jquery-slim.min.js' %}'><\/script>")</script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'css/bootstrap.min.css'%}"></script>
  </body>
</html>