<!DOCTYPE html>
<html>
<head>
    <script>
        function changeRequired()
        { 
            if (document.getElementById('id_action').value == "update" || document.getElementById('id_action').value == "delete")
            {
                console.log("hello")
                document.getElementById('id_studioName').required = true;
            }
            else
            {
                document.getElementById('id_studioName').required = true;
                document.getElementById('id_location').required = true;
                document.getElementById('id_founded').required = true;
            }
        }
    </script>
</head>
<body>
    {% load staticfiles %}
    {% url 'insertStudio' as insertStudio %}
    {% if status.success %}

        <ul>
            <li style="color: green;"> {{ status.success }} </li>
        </ul>
    {% elif status.error %}
        <ul>
            <li style="color: red;"> {{ status.error }} </li>
        </ul>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
<body>
    {% if status.link %}
        <a href = "{{insertStudio}}" > Would You Like to Insert a Studio? </a>
    {% endif%}
</html>